* {
  box-sizing: border-box;
}

html {
  background: url(https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Assistant', sans-serif;
  transition: background 1s;
  background-color: rgb(22, 21, 21);
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  color: white;
  position: relative;
  backdrop-filter: blur(1px);
  margin: 0px;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

h1,
h2,
h3,
button {
  text-shadow: 2px 1px #140e0e79;
  margin: 0;
  padding: 0;
}

h1 {
}

p {
  margin: 0;
  padding: 0;
  text-shadow: 2px 1px #140e0e79;
}

img {
  padding: 0;
  margin: 0;
}

.content {
  display: grid;
  max-height: 100vh;
  grid-template-rows: 1fr 5fr 2fr;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.bookmark-btn {
  padding: 1em;
}

.bookmarks-container {
  margin: 0;
  padding-left: 1em;
}

.bookmarks-container input {
  padding: 0;
  margin: 0;
}

.weather {
  display: flex;
  gap: 1em;
  padding: 1em;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.default-content {
  max-width: 700px;
}

.quote {
  font-size: 1.25rem;
}

.time,
.timer {
  font-size: 6.25rem;
}

.learning-btn-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1em;
}

.learning-btn-container button {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.learning-mode-btn,
.leave-btn {
  padding: 1em;
  align-self: end;
}

.todo-sticky {
  display: flex;
  gap: 1em;
}

.add-sticky-btn {
  padding: 1em;
  align-self: end;
}

button {
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.todos {
  box-shadow: 2px 1px #140e0e79;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 5px;
  padding: 2em;
  margin: 2em;
  background-color: rgba(255, 255, 255, 0.671);
  position: absolute;
  right: 0;
}

.todos ul {
  height: 150px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style: none;
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.todos ::-webkit-scrollbar {
  display: none;
}

.todos button {
  background-color: rgba(0, 0, 0, 0.829);
  color: inherit;
  padding: 0.2em;
  border-radius: 2px;
  margin: 0;
  transition: all 200ms;
}

.todos button:hover {
  background-color: rgb(0, 0, 0);
}

.todo-element {
  display: flex;
  padding: 0.1em;
  background-color: rgba(0, 0, 0, 0.11);
  border: 1px solid black;
}

.delete-btn {
  height: 22px;
}

.todo-element p {
  word-wrap: break-word;
  width: 80%;
  white-space: pre-line;
}

.todo-element button {
  align-self: end;
  max-height: 50px;
}

.todo-button {
  padding: 1em;
  align-self: end;
}

.new-task-div {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

input {
  cursor: pointer;
}

.quote {
}

.todo-input {
  resize: none;
}

.hidden {
  display: none;
}

.drag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sticky {
  text-shadow: none;
  background: yellow;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #00243f;
  /* 0 0 150px rgba(0, 0, 0, 0.2); */
  cursor: grab;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  width: 12.5rem;
}
.sticky h3,
.sticky p {
  /* color: #0065b3; */
  color: #00243f;
  pointer-events: none;
  text-shadow: none;
}
.sticky h3 {
  border-bottom: dashed 2px #0085e8;
  margin: 0 0 1rem;
  min-height: 1.3rem;
  padding: 0 1.5rem 0.25rem 0;
}
.sticky p {
  margin: 0;
  min-height: 9rem;
}
.sticky .deletesticky {
  color: #0085e8;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 0.8rem;
  top: 0.4rem;
}

.sticky-form {
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 5px;
  padding: 1em;
}
.sticky-form label,
.sticky-form input,
.sticky-form textarea {
  color: black;
  display: block;
}
.sticky-form input,
.sticky-form textarea {
  background-color: #f0f9ff44;
  background-clip: padding-box;
  border: 2px solid #000000;
  border-radius: 0.25rem;
  color: #00243f;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  padding: 0.375rem 0.75rem;
  width: calc(100% - 1.5rem);
}
.sticky-form input:focus,
.sticky-form textarea:focus {
  border: 2px solid #5f5b5b;
  outline: none;
}
button.button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 0.25rem;

  color: white;
  display: inline-block;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  transition: all 300ms;
}

button.button:hover {
  background-color: rgb(0, 0, 0);
}
